/* You can add global styles to this file, and also import other style files */
nav{

  padding-left: 20px;
}
#sub{
  padding: 20px;
  /*padding-left:9px;
  padding-right:9px;*/
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


@media screen and (max-width: 100)
  .container
    width: 98%
